.mnb_bkg {
    background-image: url('/adastra/images/mnb-logo_bkg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.mnb {
    height: 50px;
    width: 200px;
    background: #91dada;
    border: 3px solid black;
    border-radius: 26px;
    box-sizing: border-box;
    padding: 5px 15px 7px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    color: black;
    z-index: 2;
    text-align: center;

}

.mnb_btn {
    height: 50px;
    width: 100px;
    background: #91dada;
    border: 3px solid black;
    border-radius: 26px;
    box-sizing: border-box;
    padding: 5px 15px 7px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    color: black;
    z-index: 2;

}

.select {
    font-size: 20px;
    font-weight: bold;
}